<?xml version="1.0"?>

<model>
  <name>camello</name>
  <version>1.0.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>h</name>
    <email>h</email>
  </author>


  <maintainer email="h">H</maintainer>


  <description>
    Camello robot model to work in Ignition simulator
  </description>
</model>
